{% extends 'base.html.twig' %}

	{% block body %}
		<div class="container">

			{% for article in articles %}
		        <div class="row">
		            <div class="box">
		                <div class="col-lg-12 text-center">		                	
		                    {% for img in article.image %}
                                <img class="img-responsive img-full" src="{{ asset('uploads/images/' ~ img.filename) }}"  alt=""/>                         
                            {% endfor %}


			                <h2 class="brand-before">
			                    <small>Bienvenue</small>
			                </h2>
			                <h1 class="brand-name">SCI Foncier B&B</h1>
			                <hr class="tagline-divider">
			                <h2>
			                    <small>
			                        <strong>{{ article.title|title}}</strong>
			                    </small>
			                </h2>
		                </div>
		            </div>
		        </div>
	        
		        <div class="row">
		            <div class="box">
		                <div class="col-lg-12">
		                    {% if article.subtitle1 is not empty %}
			                    <hr>
			                    <h2 class="intro-text text-center">
			                        <strong>{{ article.subtitle1|title}}</strong>
			                    </h2>
			                    <hr>
		                    {% endif %}
		                    {% for img in article.image %}
		                    	{% if img.filename1 is not null %}
		                    		<img class="img-responsive img-border img-left" style="height:120px;width:150px;margin-bottom:15px;margin-left:5px;" src="{{ asset('uploads/images/'~ img.filename1) }}" alt="">
		                    	{% endif %}
		                    {% endfor %}
		                    <hr class="visible-xs">
		                    <p style="text-align: justify;">{{ article.text1}}</p>
		                </div>
		                {% if article.text2 is not null %}
			                <div class="col-lg-12">
			                    {% if article.subtitle2 is not empty %}
				                    <hr>
				                    <h2 class="intro-text text-center">
				                        <strong>{{ article.subtitle2|title}}</strong>
				                    </h2>
				                    <hr>
			                    {% endif %}
			                    {% for img in article.image %}
			                    	{% if img.filename2 is not null %}
			                    	<img class="img-responsive img-border img-left" style="height:120px;width:150px;margin-bottom:15px;margin-left:5px;" src="{{ asset('uploads/images/'~ img.filename2) }}" alt="">
			                    	{% endif %}
			                    {% endfor %}
			                    <hr class="visible-xs">
			                    <p style="text-align: justify;">{{ article.text2}}</p><br><br>	                    
			                </div>
			            {% endif %}
			            {% if article.text3 is not null %}
			            	<div class="col-lg-12">
			                {% for img in article.image %}
			                	{% if img.filename3 %}                  
			                    	<img class="img-responsive img-border img-left" style="height:120px;width:150px;margin-bottom:15px;margin-left:5px;" src="{{ asset('uploads/images/'~ img.filename3) }}" alt="">
			                    {% endif %}
			                {% endfor %}
			                    <hr class="visible-xs">	                    
			                    <p style="text-align: justify;">{{ article.text3}}</p><br>	                    
			                    <p style="text-align: justify;">{{ article.text4}}</p><br><br>
	 		                </div>
			            {% endif %}
		            </div>
		        </div>
		    {% endfor %} 		        

		    {% if listProjects is not null %}
		    	{% for project in listProjects %}
			        <a href="{{ path('front_office_project_one',{id:project.id}) }}"><div class="row">
			            <div class="box">
			                <div class="col-lg-12">
			                <hr>
			                    <h2 class="intro-text text-center">
			                        <strong>{{ project.name|upper }}</strong>
			                    </h2>
			                <hr>
				                {% for img in project.image %}	                   
				                    <img class="img-responsive img-border img-left" style="height:280px;width:390px;margin-bottom:15px;margin-left:5px;" src="{{ asset('uploads/images/'~ img.filename) }}" alt="">
				                {% endfor %}
			                    <hr class="visible-xs">	                    
			                    <p style="text-align: justify;">{{ project.comment}}</p><br>	                    			                    
			                </div>
			            </div>
			        </div></a>
			    {% endfor %}
		    {% endif %}
		         
		</div>
    	
	{% endblock %}
